/* GERAL
---------- */
:root {
    --green: #5FD75B;
    --darker-green: #58c254;
    --white: #FEFFEA;
    --light-gray: #e9e9e9;
    --dark-gray: #707070;
    --black: #292929;
    
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
}

strong {
    font-weight: bolder;
    font-size: 1.1em;
    padding: 10px;
}

h5 {
    font-weight: bolder;
    font-size: 0.7em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER LOGO
----------------- */
header #header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header #header-title h1 {
    font-size: 2em;
    font-weight: bolder;
}

/* NAVEGATION
----------------*/
header nav {
    background-color: var(--green);
}
header nav ul{
    display: flex;
    justify-content: center;
}

header nav ul li a {
    text-decoration: none;
    font-weight: bolder;
    display: block;
    padding: 7px 30px;
    transition: all 0.3s;
    color: var(--white);
    text-shadow: 1px 1px 5px var(--darker-gray);
}

header nav ul li a:hover {
    background-color: var(--darker-green);
    transition: all 0.3s;
}

/* MAIN
---------- */
main {
    max-width: 960px;
    margin: 0 auto;
}

main article {
    padding: 30px;
    background-color: var(--light-gray);
    margin: 10px;
    box-shadow: 1px 1px 15px var(--light-gray);
    line-height: 1.2em;
}

main article h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--darker-green);
    color: var(--white);
    padding: 10px;
}

/* SOBRE */
main #sobre :last-child {
    display: flex;
    justify-content: space-evenly;
}

main #sobre p {
    margin: 20px 40px;
    text-align: center;
}

main #sobre img {
    border: 5px solid var(--green)
}

/* LISTAS ORDENADAS */
main article ol {
    list-style: decimal;
    padding: 10px 40px;
}

/* BOTAO MAIONESE */
#button-maionese button {
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px 30px;
    background-color: var(--green);
    border: 1px solid var(--darker-green);
    border-radius: 15px;
    outline: none;
    transition: all 0.1s;
}

#button-maionese button:hover {
    background-color: var(--darker-green);
    transition: all 0.1s;
    cursor: pointer;
}

#button-maionese button:active {
    background-color: var(--black);
    color: var(--white);
}

/* MAIN GRID */
#main-container {
    display: grid;
    grid-template-areas:
        "sobre sobre"
        "como-fazer como-fazer"
        "vantagens desvantagens"    
    ;
}

#sobre { grid-area: sobre; }
#como-fazer { grid-area: como-fazer; }
#vantagens { grid-area: vantagens; }
#desvantagens { grid-area: desvantagens; }

/* FOOTER
------------- */
footer {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 10px;
}